body {
    /* padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(122, 191, 214);
    margin-top: 50px; */
    /* background-size: cover;
    margin-bottom: 0; */
}

.form-signin {
  max-width: 500px;
  padding: 30px;
  margin: auto;
 
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
  
/* .image { */
  /* The image used */
  /* background-image: url("../static/images/sky.jpg"); */

  /* Control the height of the image */
  /* min-height: 625px; */
  /* min-height: 568px; */
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */


.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.back-img 
{ 
  margin-top: -22px;
}