{% extends 'layout.html'  %}
{% block body %}
    <h1> Add Transaction</h1>
    <form action= "" method = "POST" novalidate>
        <p>
            {{form.description.label}} <br>
            {{form.description(size = 10)}}
        </p>
        <p>
            {{form.amount.label}}<br>
            {{form.amount}}

        </p>
        <button class="btn btn-sm btn-primary" type="submit" style="background-color: gray;">Submit</button>
    </form>
    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
{% endblock %}
